{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}

    <div id="main-content" class="main-content-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">

                    <!-- latest-posts-area start -->
                    <div class="popular-posts-area">
                        <h2 class="section-title">Dernières publications</h2>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="single-latest-post">
                                    <div class="post-img">
                                        <a href="#"><img src="img/blog/5.jpg" alt="Popular Post" /></a>
                                        <a href="#" class="post-tag">travel</a>
                                        <div class="post-info">
                                            <p>
                                                <span class="post-date"><a href="#">July 10, 2015</a></span>
                                                <span class="post-comments"><a href="#">3 comments</a></span>
                                                <span class="post-social-links">
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Likes"><i class="fa fa-heart"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fab fa-facebook"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fab fa-google-plus"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fab fa-pinterest"></i></a>
													</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <h6 class="post-title"><a href="#">Savior of Hustler</a></h6>
                                        <p class="post-short-desc">Lorem ipsum dolor sit amet, consegectetur
                                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco
                                            laboris nisi...</p>
                                        <a href="#" class="continue-link">Continue Reading...</a>
                                    </div>
                                </div><!-- /.latest-post -->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="single-latest-post">
                                    <div class="post-img">
                                        <a href="#"><img src="img/blog/2.jpg" alt="Popular Post" /></a>
                                        <a href="#" class="post-tag">photography</a>
                                        <div class="post-info">
                                            <p>
                                                <span class="post-date"><a href="#">July 10, 2015</a></span>
                                                <span class="post-comments"><a href="#">3 comments</a></span>
                                                <span class="post-social-links">
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Likes"><i class="fa fa-heart"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fab fa-facebook"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fab fa-google-plus"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fab fa-pinterest"></i></a>
													</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <h6 class="post-title"><a href="#">Summer Vacation Memories</a></h6>
                                        <p class="post-short-desc">Lorem ipsum dolor sit amet, consegectetur
                                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco
                                            laboris nisi...</p>
                                        <a href="#" class="continue-link">Continue Reading...</a>
                                    </div>
                                </div><!-- /.latest-post -->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="single-latest-post">
                                    <div class="post-img">
                                        <a href="#"><img src="img/blog/6.jpg" alt="Popular Post" /></a>
                                        <a href="#" class="post-tag">lifestyle</a>
                                        <div class="post-info">
                                            <p>
                                                <span class="post-date"><a href="#">July 10, 2015</a></span>
                                                <span class="post-comments"><a href="#">3 comments</a></span>
                                                <span class="post-social-links">
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Likes"><i class="fa fa-heart"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fab fa-facebook"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fab fa-google-plus"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fab fa-pinterest"></i></a>
													</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <h6 class="post-title"><a href="#">Lover in the Petals</a></h6>
                                        <p class="post-short-desc">Lorem ipsum dolor sit amet, consegectetur
                                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco
                                            laboris nisi...</p>
                                        <a href="#" class="continue-link">Continue Reading...</a>
                                    </div>
                                </div><!-- /.latest-post -->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="single-latest-post">
                                    <div class="post-img">
                                        <a href="#"><img src="img/blog/4.jpg" alt="Popular Post" /></a>
                                        <a href="#" class="post-tag">photography</a>
                                        <div class="post-info">
                                            <p>
                                                <span class="post-date"><a href="#">July 10, 2015</a></span>
                                                <span class="post-comments"><a href="#">3 comments</a></span>
                                                <span class="post-social-links">
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Likes"><i class="fa fa-heart"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fab fa-facebook"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fab fa-google-plus"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fab fa-pinterest"></i></a>
													</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <h6 class="post-title"><a href="#">The Waves of the Butterfly</a></h6>
                                        <p class="post-short-desc">Lorem ipsum dolor sit amet, consegectetur
                                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco
                                            laboris nisi...</p>
                                        <a href="#" class="continue-link">Continue Reading...</a>
                                    </div>
                                </div><!-- /.latest-post -->
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="single-latest-post">
                                    <div class="post-img">
                                        <a href="#"><img src="img/blog/4.jpg" alt="Popular Post" /></a>
                                        <a href="#" class="post-tag">photography</a>
                                        <div class="post-info">
                                            <p>
                                                <span class="post-date"><a href="#">July 10, 2015</a></span>
                                                <span class="post-comments"><a href="#">3 comments</a></span>
                                                <span class="post-social-links">
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Likes"><i class="fa fa-heart"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fab fa-facebook"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fab fa-google-plus"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fab fa-pinterest"></i></a>
													</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <h6 class="post-title"><a href="#">The Waves of the Butterfly</a></h6>
                                        <p class="post-short-desc">Lorem ipsum dolor sit amet, consegectetur
                                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco
                                            laboris nisi...</p>
                                        <a href="#" class="continue-link">Continue Reading...</a>
                                    </div>
                                </div><!-- /.latest-post -->
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="single-latest-post">
                                    <div class="post-img">
                                        <a href="#"><img src="img/blog/4.jpg" alt="Popular Post" /></a>
                                        <a href="#" class="post-tag">photography</a>
                                        <div class="post-info">
                                            <p>
                                                <span class="post-date"><a href="#">July 10, 2015</a></span>
                                                <span class="post-comments"><a href="#">3 comments</a></span>
                                                <span class="post-social-links">
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Likes"><i class="fa fa-heart"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fab fa-facebook"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fab fa-google-plus"></i></a>
														<a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fab fa-pinterest"></i></a>
													</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <h6 class="post-title"><a href="#">The Waves of the Butterfly</a></h6>
                                        <p class="post-short-desc">Lorem ipsum dolor sit amet, consegectetur
                                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco
                                            laboris nisi...</p>
                                        <a href="#" class="continue-link">Continue Reading...</a>
                                    </div>
                                </div><!-- /.latest-post -->
                            </div>
                        </div>
                    </div><!-- /.latest-posts-area -->



                    <!-- featured-posts-area end -->
                </div>

                <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
                    <div class="sidebar-area fix">
                        <div class="single-sidebar-widget">
                            <h6 class="widget-title">about me</h6>
                            <div class="sidebar-content about-me">
                                <div class="my-photo">
                                    <a href="#"><img class="img-circle" src="img/sidebar/me.jpg" alt="My Image" /></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consecteturs adipisicing elit, sed do
                                    eiusmod tempor incididunt labore et dolore aliqua. Ut enim ad minim veniam,</p>
                            </div><!-- /.sidebar-content -->
                        </div><!-- /.single-sidebar-widget -->
                        <div class="single-sidebar-widget">
                            <h6 class="widget-title">follow me on</h6>
                            <div class="sidebar-content">
                                <div class="social-links-area">
                                    <div class="single-icon">
                                        <a href="#">
                                            <i class="fab fa-facebook"></i>
                                            <p>Facebook</p>
                                        </a>
                                    </div><!-- /.single-icon -->
                                    <div class="single-icon">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                            <p>Twitter</p>
                                        </a>
                                    </div><!-- /.single-icon -->

                                    <div class="single-icon">
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                            <p>Instagram</p>
                                        </a>
                                    </div><!-- /.single-icon -->
                                </div><!-- /.social-links-area -->
                            </div><!-- /.sidebar-content -->
                        </div><!-- /.single-sidebar-widget -->

                        <div class="single-sidebar-widget">
                            <h6 class="widget-title">categories</h6>
                            <div class="sidebar-content">
                                <div class="categories-list">
                                    <ul>
                                        <li><a href="#"><span class="category">breaking</span><span class="number">(85)</span></a></li>
                                        <li><a href="#"><span class="category">business</span><span class="number">(75)</span></a></li>
                                        <li><a href="#"><span class="category">ecommerce</span><span class="number">(66)</span></a></li>
                                        <li><a href="#"><span class="category">fashion</span><span class="number">(63)</span></a></li>
                                        <li><a href="#"><span class="category">science</span><span class="number">(55)</span></a></li>
                                        <li><a href="#"><span class="category">girl</span><span class="number">(50)</span></a></li>
                                        <li><a href="#"><span class="category">technology</span><span class="number">(42)</span></a></li>
                                        <li><a href="#"><span class="category">shopping</span><span class="number">(29)</span></a></li>
                                        <li><a href="#"><span class="category">magazine</span><span class="number">(15)</span></a></li>
                                    </ul>
                                </div>
                            </div><!-- /.sidebar-content -->
                        </div><!-- /.single-sidebar-widget -->
                        <div class="single-sidebar-widget">
                            <h6 class="widget-title">archive</h6>
                            <div class="sidebar-content">
                                <div class="archive-list">
                                    <ul>
                                        <li><a href="#"><span class="month">march</span><span class="number">(98)</span></a></li>
                                        <li><a href="#"><span class="month">january</span><span class="number">(80)</span></a></li>
                                        <li><a href="#"><span class="month">february</span><span class="number">(60)</span></a></li>
                                        <li><a href="#"><span class="month">december</span><span class="number">(40)</span></a></li>
                                        <li><a href="#"><span class="month">october</span><span class="number">(10)</span></a></li>
                                    </ul>
                                </div>
                            </div><!-- /.sidebar-content -->
                        </div><!-- /.single-sidebar-widget -->
                    </div><!-- /.sidebar-area -->
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-area end -->

{% endblock %}